!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %title فصيلتي
    %meta{name: "description", content: "فصيلتي هي شبكة وحل لعملية التبرع بالدم"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{href: "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300", rel: "stylesheet"}
    %link{rel: "stylesheet", href: "styles/main.min.css"}
    %link{href: "images/favicon.ico", rel: "shortcut icon"}

  %body

    .header.text-center
      .header-content
        %h1.logo.header-title فصيلتي
        %h4.margin-bottom-none فصيلتي هي شبكة وحل لعملية التبرع بالدم

    .section
      .row
        .medium-8.large-8.column.column--center
          %h4.margin-bottom-three.text-center.hide فصيلتي عبارة عن شبكة تساعدك على

      .row
        .medium-4.large-4.column.text-center
          <svg class="feature-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M42.986,33.62h-4.75c-0.414,0-0.75,0.336-0.75,0.75s0.336,0.75,0.75,0.75h4.75c0.414,0,0.75-0.336,0.75-0.75  S43.4,33.62,42.986,33.62z M42.986,38.687h-4.75c-0.414,0-0.75,0.336-0.75,0.75s0.336,0.75,0.75,0.75h4.75  c0.414,0,0.75-0.336,0.75-0.75S43.4,38.687,42.986,38.687z M42.986,28.553h-4.75c-0.414,0-0.75,0.336-0.75,0.75  s0.336,0.75,0.75,0.75h4.75c0.414,0,0.75-0.336,0.75-0.75S43.4,28.553,42.986,28.553z M63.013,25.919  c-1.226-1.336-2.97-2.102-4.783-2.102c-0.414,0-0.75,0.336-0.75,0.75s0.336,0.75,0.75,0.75c1.395,0,2.735,0.589,3.679,1.617  c0.303,0.329,0.561,0.697,0.765,1.096c0.365,0.709,0.55,1.477,0.55,2.279c0,0.414,0.336,0.75,0.75,0.75s0.75-0.336,0.75-0.75  c0-1.029-0.247-2.055-0.716-2.965C63.741,26.827,63.406,26.348,63.013,25.919z M63.973,32.454c-0.414,0-0.75,0.336-0.75,0.75v3.533  c0,0.414,0.336,0.75,0.75,0.75s0.75-0.336,0.75-0.75v-3.533C64.723,32.79,64.387,32.454,63.973,32.454z M50,18.171  c-1.505,0-2.729,1.225-2.729,2.729c0,1.506,1.225,2.73,2.729,2.73s2.729-1.225,2.729-2.73C52.729,19.396,51.505,18.171,50,18.171z   M50,22.13c-0.678,0-1.229-0.553-1.229-1.23s0.552-1.229,1.229-1.229s1.229,0.551,1.229,1.229S50.678,22.13,50,22.13z M58.965,20.15  l-2.928-0.001c-0.371-3.001-2.937-5.332-6.036-5.332c-3.102,0-5.668,2.331-6.039,5.333h-2.928c-5.103,0-9.254,4.151-9.254,9.254  v28.893c0,4.954,3.916,8.999,8.813,9.231l1.795,3.031c0.136,0.229,0.38,0.368,0.646,0.368h4.778  c0.153,3.377,1.265,6.259,1.627,7.104c0.553,1.29,1.443,3.87,1.568,7.15h1.512c-0.125-3.554-1.103-6.345-1.701-7.741  c-0.675-1.574-1.391-4.043-1.517-6.514h1.502c0.125,2.244,0.778,4.485,1.394,5.922c0.644,1.503,1.697,4.512,1.822,8.333h1.487  c-0.128-4.084-1.242-7.316-1.931-8.923c-0.557-1.3-1.144-3.314-1.268-5.332h4.656c0.265,0,0.511-0.14,0.646-0.368l1.795-3.031  c4.897-0.232,8.813-4.277,8.813-9.231V29.404C68.219,24.302,64.067,20.15,58.965,20.15z M38.236,60.455  c-0.414,0-0.75-0.336-0.75-0.75s0.336-0.75,0.75-0.75h4.75c0.414,0,0.75,0.336,0.75,0.75s-0.336,0.75-0.75,0.75H38.236z   M38.236,48.821h4.75c0.414,0,0.75,0.336,0.75,0.75s-0.336,0.75-0.75,0.75h-4.75c-0.414,0-0.75-0.336-0.75-0.75  S37.822,48.821,38.236,48.821z M37.486,44.504c0-0.414,0.336-0.75,0.75-0.75h4.75c0.414,0,0.75,0.336,0.75,0.75  s-0.336,0.75-0.75,0.75h-4.75C37.822,45.254,37.486,44.918,37.486,44.504z M38.236,53.888h4.75c0.414,0,0.75,0.336,0.75,0.75  s-0.336,0.75-0.75,0.75h-4.75c-0.414,0-0.75-0.336-0.75-0.75S37.822,53.888,38.236,53.888z M56.537,69.428H43.462l-1.111-1.877  h15.299L56.537,69.428z M66.719,41.865H33.28V29.404c0-4.275,3.479-7.754,7.754-7.754l3.632-0.001c0.414,0,0.75-0.336,0.75-0.75  c0-2.526,2.057-4.582,4.585-4.582c2.526,0,4.582,2.056,4.582,4.583c0,0.414,0.336,0.75,0.75,0.75h3.632  c4.275,0,7.754,3.479,7.754,7.754V41.865z"/><text x="0" y="115" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by Sergey Demushkin</text><text x="0" y="120" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun Project</text></svg>

          %p
            تقدم فصيلتي خدماتها للمتبرعين بالدم ولطالبي الدم

        .medium-4.large-4.column.text-center
          <svg class="feature-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" version="1.1" x="0px" y="0px" viewBox="-2.403 -1.495 100 125" enable-background="new -2.403 -1.495 100 100" xml:space="preserve"><path d="M68.936,82.819H17.208c-3.206,0-5.806,2.195-5.806,4.905c0,2.708,2.6,4.905,5.806,4.905h51.728c3.205,0,5.8-2.197,5.8-4.905  C74.735,85.015,72.141,82.819,68.936,82.819z"/><path d="M8.411,35.671c1.947,6.111,4.44,10.913,6.111,12.042v-0.545c-1.647-1.607-3.876-6.099-5.652-11.672  c-2.047-6.428-2.801-12.139-1.939-13.873c0.228,0.013,0.457,0.022,0.689,0.022v2.026h2.039v-2.205  c3.216-0.561,5.582-2.409,5.582-4.608V5.509c0-2.643-3.412-4.786-7.618-4.786V0H4.609v1.113C1.898,1.848,0,3.538,0,5.509V16.86  c0,1.713,1.437,3.209,3.59,4.056v2.757h2.039v-2.198c0.313,0.053,0.635,0.094,0.964,0.123C5.547,23.043,6.275,28.966,8.411,35.671z   M4.253,16.75V5.62h7.443v11.13H4.253z"/><path d="M7.838,8.94c-0.553-0.797-0.944,0.875-2.102,2.208c-1.169,1.348,0.596,2.488,1.981,2.488s2.895-1.119,1.792-2.488  C8.482,9.869,8.482,9.869,7.838,8.94z"/><path d="M15.63,82.682c2.588-0.665,4.206-3.57,3.614-6.481l-4.123-20.295c-0.592-2.913-3.169-4.734-5.757-4.069  c-2.588,0.667-4.206,3.569-3.614,6.482l4.123,20.294C10.464,81.525,13.042,83.349,15.63,82.682z"/><path d="M90.689,71.755c-2.044-1.152-4.669,0.705-6.403,4.225l-19.129-7.93c-0.6-0.525-1.296-0.819-2.033-0.777L35.84,68.877  l-1.404-7.954l18.931,0.464c1.683,0.044,3.076-2.325,3.104-5.286c0.032-2.957-1.311-5.393-2.999-5.435l-20.938-0.512l-0.727-4.124  c-0.571-3.229-2.903-5.542-5.761-6.142c1.848-1.119,3.298-3.061,4.073-5.423c-2.652-0.058-4.786-2.288-4.786-5.041h0.242  c0.62,2.054,2.454,3.555,4.647,3.555c0.097,0,0.188-0.018,0.283-0.024c0.179-0.931,0.265-1.906,0.227-2.911  c-0.224-5.735-4.132-10.165-8.737-9.893c-4.602,0.27-8.152,5.139-7.929,10.874c0.188,4.887,3.062,8.817,6.757,9.705  c-3.052,1.721-4.875,5.38-4.228,9.042l2.213,12.533c0.026,0,0.06-0.002,0.088-0.002l0.057,0.318  c-0.028-0.002-0.062,0.001-0.089,0.001l0.777,4.396c0.001,0.045-0.007,0.084-0.007,0.13l0.241,6.201  c0.166,4.28,3.117,7.582,6.591,7.379c0.327-0.018,0.636-0.098,0.948-0.177c0.172,0.03,0.343,0.064,0.52,0.051l33.93-1.994  l-0.046,0.193l21.592,8.955c0.383,0.758,0.885,1.337,1.498,1.684c2.432,1.37,5.697-1.479,7.295-6.362  C93.801,78.188,93.121,73.123,90.689,71.755z M38.004,57.518c0.061-0.034,0.132-0.068,0.188-0.101l-0.175-4.524l3.824-0.226  l0.184,4.804l-3.683,0.216c-0.104,0.062-0.22,0.125-0.337,0.189V57.518z M26.792,24.193c0.596,0,1.079,0.565,1.079,1.263  c0,0.697-0.483,1.263-1.079,1.263c-0.596,0-1.079-0.566-1.079-1.263C25.713,24.759,26.195,24.193,26.792,24.193z"/><text x="-2.403" y="113.505" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by Adam  Mullin</text><text x="-2.403" y="118.505" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun Project</text></svg>

          %p
             تتعاون فصيلتي مع مراكز الدم والمستشفيات لتطوير وتحسين عملية التبرع بالدم

        .medium-4.large-4.column.text-center
          <svg class="feature-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><g><path d="M69.301,91.925L55.394,81.152V67.864c1.381-1.238,2.253-3.03,2.253-5.03V30.301c0-3.736-3.027-6.764-6.763-6.764   c-3.736,0-6.766,3.028-6.766,6.764v7.496L27.754,52.759c-1.686,1.54-1.803,4.155-0.261,5.84c0.815,0.893,1.931,1.345,3.051,1.345   c0.996,0,1.996-0.357,2.788-1.083L44.118,49v13.834c0,0.308,0.028,0.608,0.067,0.905L32.649,73.977   c-0.626,0.557-1.07,1.289-1.271,2.103L26.839,94.5c-0.546,2.218,0.807,4.457,3.024,5.003c0.333,0.083,0.666,0.122,0.992,0.122   c1.856,0,3.547-1.262,4.01-3.146L39.1,79.308l7.273-6.456v10.513c0,1.395,0.646,2.711,1.749,3.565l15.654,12.125   c0.822,0.637,1.795,0.945,2.758,0.945c1.349,0,2.682-0.602,3.568-1.748C71.629,96.282,71.269,93.45,69.301,91.925z"/><path d="M66.809,23.537c-3.736,0-6.766,3.028-6.766,6.764V47.57c0,3.735,3.029,6.764,6.766,6.764c3.735,0,6.763-3.028,6.763-6.764   V30.301C73.571,26.565,70.544,23.537,66.809,23.537z"/><circle cx="48.656" cy="9.771" r="9.771"/></g><text x="0" y="115" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by Lemon Liu</text><text x="0" y="120" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun Project</text></svg>

          %p
            تتعاون  فصيلتي مع الأنشطة الطلابية والجمعيات لتنظيم البيانات

    .section
      .row
        .column.large-8.column--center
          %p
            مشروع فصيلتي لتحسين وتطوير عملية التبرع بالدم على مستوى الأفراد والمؤسسات التنموية غير الربحية.

          %p
            باستخدام تكنولوجيا المعلومات والاتصالات، تعمل فصيلتي على تخفيف العبء عن طالبي التبرع بالدم وتسهيل عملية البحث عن متبرعين جدد.

          %p
            كما أنها تنشيء عبر أنشطتها وخداماتها قاعدة بيانات من المتبرعين المؤمنين بأهمية التبرع الدوري بالدم والالتزام بتخفيف معاناة المرضى وذويهم في الحصول على الدم.

          %p.margin-bottom-none
             منظومة فصيلتي تبدأ بالأفراد ولكنها تمتد لتفعيل شراكات مجتمعية مع مؤسسات غير ربحية وتنموية ومجموعات طلابية يجتمعوا كلهم مع فصيلتي في هدف التخفيف عن المرضى بتحسين عملية التبرع بالدم.

    .section.gray-bg
      .row
        .column.large-8.column--center
          %p.text-center.margin-bottom-two
            انضم إلى فصيلتي لتعرف أكثر وتصبح عضواً مفيداً ومطوراً لمجتمعك بأقل المجهود

        .column.large-6.column--center

          #mc_embed_signup.margin-bottom-two
            %form#mc-embedded-subscribe-form.validate{action: "//faselty.us8.list-manage.com/subscribe/post?u=31a1bbb44a5379590cf2675cb&amp;id=3fa0aaa624", method: "post", name: "mc-embedded-subscribe-form",novalidate: "", target: "_blank"}
              #mc_embed_signup_scroll
                .mc-field-group
                  %label.hide{for: "mce-EMAIL"}
                    البريد الإلكتروني
                    %span.asterisk *
                  %input#mce-EMAIL.required.email.form-control.margin-bottom-one{name: "EMAIL", type: "email", value: "",placeholder: "البريد الإلكتروني",}
                .mc-field-group.size1of2
                  %label.hide{for: "mce-MMERGE2"}
                    رقم الهاتف
                    %span.asterisk *
                  %input#mce-MMERGE2.required.form-control.margin-bottom-one{name: "MMERGE2", type: "text", value: "", placeholder: "رقم الهاتف",}
                #mce-responses.clear
                  #mce-error-response.response.margin-bottom-one{style: "display:none"}
                  #mce-success-response.response.margin-bottom-one{style: "display:none"}
                / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                %div.hide
                  %input{name: "b_31a1bbb44a5379590cf2675cb_3fa0aaa624", tabindex: "-1", type: "text", value: ""}
                .clear
                  %input#mc-embedded-subscribe.button.expand{name: "subscribe", type: "submit", value: "انضم"}

        %p.text-center.margin-bottom-none
          تواصل على &nbsp;
          %a{href: "https://twitter.com/Faselty", target: "_blank"} تويتر

    %script{src: "//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"}
    %script{src: "js/app.js"}

  %body
%html